{{#each purchases as |purchase|}}

<section data-id="{{purchase.id}}">
  <div class="listed-items">
    <h4>Item Name: {{purchase.item}}</h4>
    <h6>Price: ${{purchase.price}}</h6>
    <h6>Date: {{purchase.date}}</h6>
    <h6>Location: {{purchase.location}}</h6>
    <h6>ID: {{purchase.id}}</h6>
    <button id='delete'>Delete</button>
  </div>
</section>
{{/each}}
